.fixed-alerts {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;

  .alert {
    flex: 1;
  }
}

.alert {
  display: flex;
  background-color: #b4d3f2;
  border: 1px solid #a6c0da;
  color: #003e7b;
  padding: 1rem;
  border-radius: 4px;

  &.alert-error {
    background-color: #c22f3d;
    border-color: #a80817;
    color: white;
  }
}