@import 'avatar';
@import 'buttons';
@import 'checklist';
@import 'dropdown';
@import 'expandable';
@import 'header';
@import 'helpers';
@import 'keys';
@import 'modal';
@import 'slideOut';
@import 'tables';
@import 'teams';
@import 'toggle';
@import 'touchpad';
@import 'react-dc';
@import 'autocomplete';
@import 'segmentedControl';
@import 'statsTable';
@import 'bigBoxScore';
@import 'goalBox';
@import 'debugConsole';
@import 'selectPlayerModal';
@import 'stepper';

// Odds and ends
select.big-select {
  cursor: pointer;
  min-height: 36px;
  min-width: 120px;
  padding-left: 0.5rem;
  text-align-last: center;
}