.select-list {
  border-top: 1px solid #9caac5;
  border-bottom: 1px solid #9caac5;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  li {
    list-style-type: none;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    border-top: 1px solid #9caac5;
    border-left: 1px solid #9caac5;
    border-right: 1px solid #9caac5;
    cursor: pointer;
    padding: 1rem;

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}