.logo-td {
  padding: 0;
  vertical-align: middle;
  text-align: center;
  width: 30px;
}

.team-logo {
  width: 25px;
  height: 25px;
  padding: 0;
  background-image: url('/assets/images/ncaa_logo_sprite.png');
}
.logo-Alabama {
  background-position: 0 -225px;
}
.logo-AlabamaState {
  background-position: -350px -225px;
}
.logo-Arkansas {
  background-position: -100px -25px;
}
.logo-Auburn {
  background-position: 0 -25px;
}
.logo-LSU {
  background-position: -250px -75px;
}
.logo-OleMiss {
  background-position: -251px -100px;
}
.logo-MississippiState {
  background-position: -75px -225px;
}
.logo-TexasAM {
  background-position: -400px -150px;
}
.logo-Florida {
  background-position: -275px -50px;
}
.logo-Georgia {
  background-position: -350px -50px;
}
.logo-Kentucky {
  background-position: -175px -75px;
}
.logo-Missouri {
  background-position: -225px -100px;
}
.logo-SouthCarolina {
  background-position: -100px -400px;
}
.logo-Tennessee {
  background-position: -425px -400px;
}
.logo-Vanderbilt {
  background-position: -325px -150px;
}
.logo-BostonCollege {
  background-position: -275px -75px;
}
.logo-Clemson {
  background-position: -175px -150px;
}
.logo-Duke {
  background-position: -325px -100px;
}
.logo-FloridaState {
  background-position: -200px -50px;
}
.logo-GeorgiaTech {
  background-position: -325px -50px;
}
.logo-Louisville {
  background-position: -200px -75px;
}
.logo-Miami {
  background-position: -200px -325px;
}
.logo-NorthCarolina {
  background-position: -400px -100px;
}
.logo-NCState {
  background-position: -375px -100px;
}
.logo-Pittsburgh {
  background-position: -75px -150px;
}
.logo-Syracuse {
  background-position: -250px -125px;
}
.logo-Virginia {
  background-position: -150px -175px;
}
.logo-VirginiaTech {
  background-position: -175px -175px;
}
.logo-WakeForest {
  background-position: -425px -100px;
}
.logo-Cincinnati {
  background-position: -425px -250px;
}
.logo-Connecticut {
  background-position: -475px -25px;
}
.logo-EastCarolina {
  background-position: -350px -100px;
}
.logo-Houston {
  background-position: -425px -150px;
}
.logo-Memphis {
  background-position: -275px -150px;
}
.logo-SMU {
  background-position: 0 -400px;
}
.logo-SouthFlorida {
  background-position: -300px -50px;
}
.logo-Temple {
  background-position: -25px -150px;
}
.logo-Tulane {
  background-position: -175px -425px;
}
.logo-Tulsa {
  background-position: -450px -125px;
}
.logo-UCF {
  background-position: -325px -250px;
}
.logo-Illinois {
  background-position: -150px -225px;
}
.logo-Indiana {
  background-position: -75px -75px;
}
.logo-Iowa {
  background-position: -175px -300px;
}
.logo-Maryland {
  background-position: 0 -100px;
}
.logo-Michigan {
  background-position: -75px -100px;
}
.logo-MichiganState {
  background-position: -50px -100px;
}
.logo-Minnesota {
  background-position: -125px -100px;
}
.logo-Nebraska {
  background-position: -425px -450px;
}
.logo-Northwestern {
  background-position: 0 -75px;
}
.logo-OhioState {
  background-position: -325px -125px;
}
.logo-PennState {
  background-position: 0 -150px;
}
.logo-Purdue {
  background-position: -75px -375px;
}
.logo-Rutgers {
  background-position: -100px -125px;
}
.logo-Wisconsin {
  background-position: -325px -175px;
}
.logo-Baylor {
  background-position: -350px -150px;
}
.logo-IowaState {
  background-position: -400px -50px;
}
.logo-Kansas {
  background-position: -225px -300px;
}
.logo-KansasState {
  background-position: -250px -300px;
}
.logo-Oklahoma {
  background-position: -425px -125px;
}
.logo-OklahomaState {
  background-position: -375px -125px;
}
.logo-TCU {
  background-position: -375px -400px;
}
.logo-Texas {
  background-position: 0 -175px;
}
.logo-TexasTech {
  background-position: -75px -425px;
}
.logo-WestVirginia {
  background-position: -375px -175px;
}
.logo-FloridaAtlantic {
  background-position: -350px -275px;
}
.logo-FloridaInternational {
  background-position: -375px -275px;
}
.logo-LaTech {
  background-position: -450px -300px;
}
.logo-Marshall {
  background-position: -350px -175px;
}
.logo-MiddleTennesseeState {
  background-position: -225px -325px;
}
.logo-NorthTexas {
  background-position: -451px -150px;
}
.logo-Rice {
  background-position: -375px -150px;
}
.logo-SouthernMiss {
  background-position: -75px -400px;
}
.logo-UAB {
  background-position: -50px -25px;
}
.logo-UTEP {
  background-position: -25px -425px;
}
.logo-UTSA {
  background-position: 0 -425px;
}
.logo-WesternKentucky {
  background-position: -225px -75px;
}
.logo-Akron {
  background-position: -300px -225px;
}
.logo-BallState {
  background-position: -25px -250px;
}
.logo-BowlingGreen {
  background-position: -275px -125px;
}
.logo-Buffalo {
  background-position: -150px -250px;
}
.logo-CentralMichigan {
  background-position: -350px -250px;
}
.logo-EasternMichigan {
  background-position: -275px -275px;
}
.logo-KentState {
  background-position: -275px -300px;
}
.logo-MiamiOH {
  background-position: -300px -125px;
}
.logo-NorthernIllinois {
  background-position: -250px -350px;
}
.logo-Ohio {
  background-position: -350px -125px;
}
.logo-Toledo {
  background-position: -125px -425px;
}
.logo-UMass {
  background-position: -400px -75px;
}
.logo-WesternMichigan {
  background-position: -350px -425px;
}
.logo-AirForce {
  background-position: -275px -225px;
}
.logo-BoiseState {
  background-position: -425px -50px;
}
.logo-ColoradoState {
  background-position: -425px -25px;
}
.logo-FresnoState {
  background-position: -400px -175px;
}
.logo-Hawaii {
  background-position: -375px -50px;
}
.logo-Nevada {
  background-position: -50px -350px;
}
.logo-NewMexico {
  background-position: -150px -125px;
}
.logo-SanDiegoState {
  background-position: -250px -25px;
}
.logo-SanJoseState {
  background-position: -275px -25px;
}
.logo-UNLV {
  background-position: -25px -350px;
}
.logo-UtahState {
  background-position: -450px -200px;
}
.logo-Wyoming {
  background-position: -75px -450px;
}
.logo-Arizona {
  background-position: -150px -25px;
}
.logo-ArizonaState {
  background-position: -125px -25px;
}
.logo-California {
  background-position: -325px -25px;
}
.logo-Colorado {
  background-position: -450px -25px;
}
.logo-Oregon {
  background-position: -400px -350px;
}
.logo-OregonState {
  background-position: -475px -125px;
}
.logo-Stanford {
  background-position: -300px -25px;
}
.logo-UCLA {
  background-position: -350px -25px;
}
.logo-USC {
  background-position: -400px -25px;
}
.logo-Utah {
  background-position: -75px -175px;
}
.logo-Washington {
  background-position: -225px -175px;
}
.logo-WashingtonState {
  background-position: -250px -175px;
}
.logo-ArkansasState {
  background-position: -475px -225px;
}
.logo-GeorgiaState {
  background-position: 0 -300px;
}
.logo-Idaho {
  background-position: -450px -50px;
}
.logo-ULL, .logo-SWLouisiana {
  background-position: -250px -200px;
}
.logo-ULM , .logo-NELouisiana {
  background-position: 0 -350px;
}
.logo-SouthAlabama {
  background-position: -75px -25px;
}
.logo-TexasState {
  background-position: -425px -200px;
}
.logo-Troy {
  background-position: -150px -425px;
}
.logo-NewMexicoState {
  background-position: -125px -125px;
}
.logo-Army {
  background-position: -100px -225px;
}
.logo-BYU {
  background-position: -26px -175px;
}
.logo-Navy {
  background-position: -375px -325px;
}
.logo-NotreDame {
  background-position: -125px -75px;
}
.logo-Samford {
  background-position: -250px -375px;
}
.logo-WesternCarolina {
  background-position: -375px -425px;
}
.logo-AlabamaAM {
  background-position: -325px -225px;
}
.logo-Chattanooga {
  background-position: -300px -150px;
}
.logo-Furman {
  background-position: -200px -150px;
}
.logo-TennesseeTech {
  background-position: -475px -400px;
}
.logo-Tennessee-Martin {
  background-position: -400px -400px;
}
.logo-AppalachianState {
  background-position: -400px -225px;
}
.logo-EastTennesseeState {
  background-position: -200px -275px;
}
.logo-GeorgiaSouthern {
  background-position: 0 -200px;
}
.logo-Loyola {
  background-position: -25px -325px;
}
.logo-Detroit {
  background-position: -100px -275px;
}
.logo-CalState-Fullerton {
  background-position: -425px -275px;
}
.logo-SantaClara {
  background-position: -325px -375px;
}
.logo-Marquette {
  background-position: -275px -175px;
}
.logo-GeorgeWashington {
  background-position: -75px -50px;
}
.logo-StLouis {
  background-position: -175px -100px;
}
.logo-Manhattan {
  background-position: -50px -325px;
}
.logo-Pacific {
  background-position: -425px -175px;
}
.logo-Georgetown {
  background-position: -100px -50px;
}
.logo-Presbyterian {
  background-position: -25px -375px;
}
.logo-AAAAAAAAa {
  background-position: 00000000000px;
}
.logo-AAAAAAAAa {
  background-position: 00000000000px;
}
.logo-AAAAAAAAa {
  background-position: 00000000000px;
}
.logo-Mercer {
  background-position: -175px -325px;
}
.logo-Richmond {
  background-position: -125px -175px;
}
.logo-Stetson {
  background-position: -250px -50px;
}
.logo-Villanova {
  background-position: -100px -150px;
}
.logo-Wofford {
  background-position: -450px -450px;
}
.logo-SELouisiana {
  background-position: -375px -375px;
}
.logo-Davidson {
  background-position: 0 -275px;
}
.logo-TheCitadel {
  background-position: -100px -425px;
}
.logo-JacksonvilleState {
  background-position: -225px -50px;
}
.logo-Liberty {
  background-position: -375px -300px;
}