.main.new-match {
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    width: 400px;
    max-width: 95%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .btn {
    min-height: 50px;
    font-size: 1.2rem;

    &.big.begin-match-btn {
      font-size: 1.35rem;
      height: 60px;
      min-width: 300px;
    }
  }

  .match-settings {
    .label {
      font-size: 1.35rem;
      max-width: calc(100vw - 2rem);

      &:first-of-type {
        text-align: right;
      }
    }

    .controls-col {
      .label {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      input {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        height: 3rem;
        width: 5rem;
        padding: 0.5rem;
      }
    }
  }
}

.player-selected-block,
.versus-separator {
  margin-bottom: 1rem;
}

.player-select-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-selected-block {
  > h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
}

.versus-separator {
  font-size: 1.5rem;
  margin-bottom: 0;
}