.main.update-score {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    margin: 1rem 0;
  }

  .expandable .expandable-body {
    display: flex;
  }
}

.game-update-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 0 1.5rem;

  h4 {
    margin: 0.5rem 0;
  }
}

.final-score-toggle {
  padding-bottom: 1rem;

  label {
    margin-right: 0.5rem;
  }
}

.btn.change-device-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 2rem;

  > span {
    font-size: 1rem;
  }
}